
<ng-container *ngIf="currentPlayer | async; let currentPlayer; else nocontent">
  <div class="form-container" id="toolbar">
    <header [@fallIn]="state">
      <button (click)="logout()" class="basic-btn">Logout</button>
    </header>
    <div id="page" [@moveInLeft]="state">
      <h2><img src="{{ photoUrl }}"/>Hey {{ currentPlayer.UserName }}!</h2>
      

      <img src="assets/images/filler.png" />
    </div>

      <h3>{{ currentPlayer.UserName }}</h3>
    
  </div>
</ng-container>

<ng-template #nocontent>
    <div class="form-container" id="toolbar">
      <header [@fallIn]="state">
        <button (click)="logout()" class="basic-btn">Logout</button>
      </header>
      <div id="page" [@moveInLeft]="state">
        <h2><img src="{{ photoUrl }}"/>Hey {{ name }}!</h2>
      </div>
  
        <h3>Looks like you haven't made a username yet! click <a routerLink="/registration" routerLinkActive="active" class="alc">here</a>.</h3>
      
    </div>
</ng-template>