
<ng-container *ngIf="currentPlayer | async; let currentPlayer; else nocontent">
  <div class="form-container" id="toolbar">
    <header [@fallIn]="state">
      <button (click)="logout()" class="basic-btn">Logout</button>
    </header>
    
    <div class="content">
      <div id="page" infinite-scroll [@moveInLeft]="state">
        <h2><img src="{{ photoUrl }}"/>Hey {{ currentPlayer.UserName }}!</h2>
        <button id="add-room-button" routerLink="/room-form">Create new room</button>
        <ul>
          <li *ngFor="let room of rooms | async as rooms">
            <ng-container *ngIf="!room.data.isLocked; else lockedRoom">
              <h3>{{ room.data.roomName }}   <span>Players: {{ room.data.playerCount }}</span>   <button (click)="goToRoom(room.id)" class="join-room-button">Join!</button></h3>
            </ng-container>
            <ng-template #lockedRoom>
              <h3>{{ room.data.roomName }}   <span>Players: {{ room.data.playerCount }}</span>   <button (click)="goToLockedRoom(room.id)" class="join-room-button">Join! (locked)</button></h3>
            </ng-template>
          </li>
        </ul>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #nocontent>
    <div class="form-container" id="toolbar">
      <header [@fallIn]="state">
        <button (click)="logout()" class="basic-btn">Logout</button>
      </header>
      <div id="page" [@moveInLeft]="state">
        <h2><img src="{{ photoUrl }}"/>Hey {{ name }}!</h2>
      </div>
  
        <h3>Looks like you haven't made a username yet! click <a routerLink="/registration" routerLinkActive="active" class="alc">here</a>.</h3>
      
    </div>
</ng-template>